<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>
        $(document).ready(()=>{
            $("#sign").click(()=>{

            })
        })
    </script>
</head>
<body>
    <form th:action="@{/web/login}" method="post">
        <div th:if="${param.error}">
            <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
        </div>
        <div th:if="${param.logout}">
            <p>Logged out successfully</p>
        </div>
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <button id="sign" type="submit">SignIN</button>
    </form>
</body>
</html>